# Node modules
node_modules/

# Build output
.vitepress/dist/

# Local temp files
.vitepress/cache/
.vitepress/tmp/
.vitepress/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# TypeScript cache
*.tsbuildinfo

